<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/header'); %>
    <main>
      <section class="container">
        <h1><%=shoe.name %></h1>
        <img src="<%= shoe.url %>" class="img-rounded" alt="Cinque Terre">
        <p><%= shoe.description %></p>

        <a class="btn btn-primary btn-lg" href="/shoe/<%= shoe.id %>/edit" role="button">Edit</a>
        <form action="/removeshoe/<%= shoe.id %>" method="get">
          <br>
          <button class="btn btn-danger btn-lg">Delete Post</button>
      </form>
      </section>
>
    </main>

    <%- include('partials/footer'); %>
  </body>
</html>